<div class="container">
  <h3>Sign up for the newsletter!</h3>
  <br>
  <form name="regForm" novalidate>
    <div class="form-group">
      <label for="firstname">Firstname:  </label>
      <input type="text" name="firstname" id="firstname" class="form-control" style="color: black"
        ng-model="reg.user.firstname"
        required
        minlength="4"
        >
        <span ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
          First name must be at least 4 characters long
        </span>
    </div>

    <div class="form-group">
      <label for="lastname">Lastname:   </label>
      <input type="text" name="lastname" id="lastname" class="form-control"
        style="color: black"
        ng-model="reg.user.lastname"
        required
        minlength="4"
        >
        <span ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
          Last name must be at least 4 characters long
        </span>
    </div>

    <div class="form-group">
      <label for="email">Email Adress:  </label>
      <input type="email" name="email" id="email" class="form-control"
        style="color: black"
        ng-model="reg.user.email"
        required>
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
    </div>

    <div class="form-group">
      <label for="phone">Phone number:  </label>
      <input type="text" name="phone" id="phone" class="form-control"
        style="color: black"
        ng-model="reg.user.phone"
        required
        pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
    </div>

    <div class="form-group">
      <label for="dish">Your favorite dish's menu number:  </label>
      <input type="text" name="menu_number" id="dish" class="form-control"
        style="color: black"
        ng-model="reg.user.menu_number"
        required>
        <div class="alert alert-warning" ng-if="reg.menuNumberNotValid">
          <strong>Error!</strong> No such menu number exists.
        </div>
    </div>
    <br>

    <button ng-disabled="regForm.$invalid"
            ng-click="reg.submit(reg.user)"
            class="btn btn-default">Submit</button>
    <br>
    <h3 ng-if="reg.informationHasBeenSaved">Your information has been saved!</h3>

  </form>
</div>
